#spurs {
  background-position-x: 577px;
  background-position-y: 82px;
}

#man-city {
  background-position-x: 331px;
  background-position-y: 331px;
}

#arsenal {
  background-position-x: -80px;
  background-position-y: -80px;
}

#man-utd {
  background-position-x: 495px;
  background-position-y: 249px;
}

#leicester {
  background-position-x: 3px;
  background-position-y: 2px;
}
